.DS_Store
/node_modules/
/src/node_modules/@sapper/
/cypress/screenshots/
/__sapper__/
/.vscode/
.env
.prettierrc
# docs
IDEAS.md
DOCS.md
# keep images in routes but copy them to static on build
/static/images/*
# drafts and aux
_index.*
_text.*

firebase.config.html
