:root {
  --maxWidth: 1480px;
  --headerHeight: 56px;
  --maxWidthBlog: 720px;

  --defSidePadding: 30px;

  --grey300: hsl(160, 5%, 70%);
  --grey500: hsl(160, 5%, 50%);

  --primary100: hsl(270, 90%, 90%);
  --primary300: hsl(270, 85%, 80%);
  --primary400: hsl(270, 80%, 75%);
  --primary500: hsl(270, 75%, 70%);
  --primary600: hsl(270, 70%, 60%);
  --primary700: hsl(270, 80%, 50%);
  --primary800: hsl(270, 89%, 30%);

  --secondary300: hsl(160, 59%, 53%);
  --secondary600: hsl(160, 70%, 34%);

  --cardRadius: 15px;

  --mainFont: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --specialFont: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--secondary300);
}

::selection {
  background: var(--secondary300);
}

body {
  margin: 0;
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  border-left: 3px solid var(--secondary300);
  margin-left: 30px;
  padding-left: 10px;
}

article ul {
  padding: 0 30px;
  margin: 0;
  list-style: unset;
}

article li {
  margin: 0 0 7px;
}

article .emphasis {
  font-size: 21px;
  text-shadow: 0 0 7px hsla(160, 59%, 53%, 0.4);
}

article .box {
  border-left: 3px solid var(--primary500);
  padding: 10px 14px 12px 18px;
  margin: 0 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

article .box p {
  margin: 0;
  color: var(--primary800);
}
